<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a SETEAGROP</title>
</head>

<body>
    <h1>Bienvenid@, {{ user.nombre }} {{ user.apellido }}!</h1>

    <p class="text-center">Gracias por registrarte en nuestra tienda en línea <b>SETEAGROP</b>.</p>

    <p> Estamos emocionados de tenerte como parte de nuestra comunidad.</p>

    <p>Aprovecha nuestras <a
            href="https://api.whatsapp.com/send?phone=593995215896&text=Hola%20me%20gustaria%20realizar%20una%20compra"
            target="_blank">promociones recientes</a> y descubre las mejores ofertas.</p>

    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/299089340_1946745922190568_5604914246249495773_n.png?stp=dst-png_s960x960&_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=d4OJjIOwT1oAX-lMveJ&_nc_ht=scontent-bog1-1.xx&oh=00_AfBnbOvbTzSrVdyH_acVgiHgG07KEgJ_puBNtR153uhuhQ&oe=659A96B8"
        alt="Promoción Reciente">

    <p>¡Esperamos que disfrutes de una experiencia de compra excepcional!</p>
</body>

</html>