{% extends './base_template.html' %}

{% block title %}
{{ data.titulo }}
{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header letraMediana text-center">Editar Información de Usuario</div>
        <div class="card-body letraGrisMediana">
            <form action="{{ url_for('auth.edit_user') }}" method="post" novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="row">
                    <div class="col-lg-6 col-md-3">
                        <label for="nombre" class="form-label mt-2 letraGrisNormal"><b>Nombres</b><b
                                class="requerido">*</b></label>
                        {{ form.nombre(class="form-control", autocomplete='off') }}
                        {% if form.nombre.errors %}
                        {% for error in form.nombre.errors %}
                        <label class="requerido">* {{ error }}</label>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-3">
                        <label for="apellido" class="form-label mt-2 letraGrisNormal"><b>Apellidos</b><b
                                class="requerido">*</b></label>
                        {{ form.apellido(class="form-control", autocomplete='off') }}
                        {% if form.apellido.errors %}
                        {% for error in form.apellido.errors %}
                        <label class="requerido">* {{ error }}</label>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-6 col-md-3">
                        <label for="tipo_identificacion" class="form-label mt-2 letraGrisNormal"><b>Tipo de
                                documento</b><b class="requerido">*</b></label>
                        {{ form.tipo_identificacion(class="form-select") }}
                    </div>
                    <div class="col-lg-6 col-md-3">
                        <label for="identificacion" class="form-label mt-2 letraGrisNormal"><b>Número de
                                identificación</b><b class="requerido">*</b></label>
                        {{ form.identificacion(class="form-control", autocomplete='off', type='number', min='0',
                        inputmode='numeric', pattern='[0-9]*') }}
                        {% if form.identificacion.errors %}
                        {% for error in form.identificacion.errors %}
                        <label class="requerido">* {{ error }}</label>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn botonCuatro" type="submit">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
